<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>New Message</h1>
    <form method="POST" action="/new">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" />
      <label for="message">Message:</label>
      <input type="text" id="message" name="message" />
      <button type="submit">Submit Message</button>
    </form>
  </body>
</html>
