<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new"><button>New Message</button></a>
    <ul> 
      <% messages.forEach((message) => { %>
        <%- include('message', {message: message}); %>
    <% }) %>
    </ul>
  </body>
</html>
