<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <ul>
      <li><%= `User: ${user}` %></li>
      <li><%= `Text: ${text}` %></li>
      <li><span>Date Posted:</span> <%= added.toLocaleString("en-US", {
        month: "short",
       day: "numeric",
       hour: "numeric",
    minute: "2-digit",
    hour12: true
  }) %></li>
    </ul>
    <a href="/"><button>Home</button></a>
  </body>
</html>
