<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <ul>
      <li><%= `User: ${user}` %></li>
      <li><%= `Text: ${text}` %></li>
      <li><%= `Date Posted: ${added}` %></li>
    </ul>
    <a href="/"><button>Home</button></a>
  </body>
</html>
