<li class="message">
  <div><span>User:</span> <%= message.author %></div>
  <div><span>Text:</span> <%= message.content %></div>
  <div><span>Date Posted:</span> <%= new Date(message.created_at).toLocaleString("en-US", {
    month: "short",
    day: "numeric",
    hour: "numeric",
    minute: "2-digit",
    hour12: true
  }) %></div>
  <a href=<%=`/${message.id}`%>><button>Details</button></a>
</li>
